# Example config for study
[study info]
study_name = example study
study_dir = /home/researchers/Documents/wiistudies/example/

[factors]
# acq_time is compulsory and can have an integer value(s) for acquisition time in seconds of 'inf' 
# for manual stopping of the acquisition
group = year1,year4
trials = trial1,trial2,trial3
acq_time = 40

