# Example config file
[study info]
study_name = June's study
study_dir = /home/kevin/studydir

[factors]
# acq_time is compulsory and can have an integer value(s) for acquisition time in seconds of 'inf' 
# for manual stopping of the acquisition
side = right,left
trials = trial1,trial2,trial3
acq_time = 30

