# Example config file
[study info]
study_name = June's study
study_dir = /home/kevin/studydir

[factors]
# acq_time is compulsory and can have an integer value(s) for acquisition time in seconds or 'inf' 
# 'inf' means stop acquisition manually
acq_time = 3
side = right,left
trials = trial1,trial2,trial3


